html, body{
    margin: 0;
    background: #eee;
}
.gallery {
    position: relative;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.gallery .photos {
    width: 800px;
    height: 450px;
    position: relative;
}
.gallery .photos img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}
.gallery .photos img.showed {
    opacity: 1;
}
.gallery .prev,
.gallery .next {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.gallery .prev {
    left: 0;
    background: url("../img/left.png") center no-repeat;
}
.gallery .prev:hover {
    background: url("../img/left_hover.png") center no-repeat;
}
.gallery .next {
    right: 0;
    background: url("../img/right.png") center no-repeat;
}
.gallery .next:hover {
    background: url("../img/right_hover.png") center no-repeat;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    height: 50px;
    width: 100%;
}
.menu a {
    color: inherit;
    line-height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.4s;
}
.menu a.active {
    color: #ff0;
}
.content {
    margin-top: 70px;
}
a.scrollTop {
    position: fixed;
    right: 2%;
    bottom: 200px;
    text-decoration: none;
    width: 51px;
    height: 51px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    margin: 0;
    padding: 0;
    background: url("../img/top.png") center bottom no-repeat;
    z-index: 9;
}
a.scrollTop:hover {
    background-position-y: top;
}